* {
    margin: 0;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #ffe2c4;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #fe0100;
}

.square:hover {
    background-color: #808080;
    border-radius: 50%;
    transition: .5s;
}

