* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #008b8b;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 100px;
}

form > h2 {
    padding: 25px 50px;
    width: 100%;
    font-weight: 400;
    font-size: 30px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    background-color: #e9f3f3;
}

input[type="text"],
input[type="password"] {
    width: 360px;
    height: 35px;
    outline: none;
    border: 1px solid #929292;
}

form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

form > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

input[type="submit"] {
    display: block;
    padding: 5px 30px;
    background-color: #e9f3f3;
    border-radius: 10px;
    border: 1px solid #929292;
}

input::placeholder {
    color: #929292;
}
