@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:ital,opsz@0,14..32;1,14..32&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
}

.w-1340 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 0 auto;
    width: 1340px;
}

/*----------------------- nav ----------------------*/
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    padding-top: 36px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    list-style-type: none;
}

ul a {
    color: #e9e3dc;
    font-family: "Bowlby One", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav__active-link {
    display: block;
    padding: 16px 27px;
    color: #1e1e1e;
    text-align: center;
    background-color: #b3a0cd;
}

/*----------------------------- h1 ------------------------------*/
h1 {
    width: 1255px;
    color: #e9e3dc;
    text-align: center;
    font-family: "Bowlby One", sans-serif;
    font-size: 107px;
    line-height: 88.896%;
    letter-spacing: -2.142px;
    text-transform: uppercase;
    margin-top: 40px;
}

/*--------------- section ---------------------------------*/
section {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

/*----------------------------- about ---------------------*/
.about {
    display: flex;
    justify-content: center;
    padding: 98px 149px 85px 109px;
    gap: 28px;
    height: 369px;
    background-color: #d1ef53;
    border-radius: 30px;
    border: 4px solid #1e1e1e;
}

.about h2 {
    width: 533px;
    color: #1e1e1e;
    font-family: "Bowlby One", sans-serif;
    font-size: 70px;
    line-height: 88.896%;
    letter-spacing: -1.4px;
    text-transform: uppercase;
}

.about p {
    width: 521px;
    color: #1e1e1e;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 139.896%;
    letter-spacing: -0.48px;
}

.about div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
}

.about button {
    padding: 22px 35px;
    border: 4px solid #1e1e1e;
    background-color: #e9e3dc;
    box-shadow: 8px 8px 0 0 #000;
    color: #1e1e1e;
    text-align: center;
    font-family: "Bowlby One", sans-serif;
    font-size: 18px;
    line-height: 96.896%;
    text-transform: uppercase;
}

/*------------------ photos ---------------------*/
.photos {
    display: flex;
    justify-content: space-between;
}

/*-------------------- online --------------------*/
.online {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
    padding-bottom: 36px;
}

.online h2 {
    width: 895px;
    color: #e9e3dc;
    text-align: center;
    font-family: "Bowlby One", sans-serif;
    font-size: 70px;
    line-height: 101.896%;
    text-transform: uppercase;
}

.online button {
    padding: 21px 31px;
    background-color: #d1ef53;
    color: #1e1e1e;
    text-align: center;
    font-family: "Bowlby One", sans-serif;
    font-size: 18px;
    line-height: 96.896%;
    text-transform: uppercase;
}
